<h4>Personajes DBZ</h4>
<ul class="list-group">
  <!--   isfirst = first; // saber el primer elemento del objecto
      isLast = last; // saber el ultimo elemento del objecto
      isEven = even; // saber si el id es par
      isOdd = odd; //saber si es impar
  -->
  <li
    *ngFor="
      let character of characterList;
      index as isIndex;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd;
      count as isCount
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-success': isFirst,
      'list-group-item-dark': isLast,
      'text-danger': isEven
    }"
  >
    <div>
      <span>
        {{ isIndex }}
      </span>
      <span>
        {{ character.name }}
      </span>
      <strong> Power: </strong>
      <span>
        {{ character.power }}
      </span>
    </div>

    <button
      class="btn btn-danger btn-sm"
      (click)="onDeleteCharacter(character.id)"
    >
      X
    </button>
  </li>
</ul>
